/* $Id: navigation.css,v 1.1.2.11.2.8 2010/03/03 17:45:16 psynaptic Exp $ */

#navigation .primary-links {
   border: 2px solid #000000;
   padding: 0;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #8fa892;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }

/* Links */

ul.links {
  padding: 0;
  margin: 0;
  line-height: 2;
  border: none;
}

ul.links li {
  list-style: none;
  margin: 0;
  padding: 0;
  border: none;
  display: inline;
}

ul.links.inline li {
  float: none;
}

ul.links li a {
  padding: 0;
  margin: 0;
  line-height: 1;
  border: none;
  margin-right: 5px;
}

ul.links.inline li a {
  display: inline;
  padding: 0;
  margin-right: 10px;
}

ul.links a.active,
ul.links li.active a {
  border: none;
}

/* Tabs */

#tabs {
  margin-bottom: 0px;
}

ul.tabs li {
  float: left;
}

ul.tabs li a:link,
ul.tabs li a:visited {
  padding: 2px 5px;
}

ul.tabs.secondary {
  font-size: 0.9em;
}

/* Menus */

ul.menu {
  margin: 0;
}

ul.menu li a {
  display: block;
  padding: 0;
}

ul.menu {
  padding-left: 20px;
}

ul.menu li li a {
  font-size: 0.9em;
}

.sidebar ul.menu {
  padding-left: 0px;
}

/* Node links */

.node-links ul.links li a {
  padding: 0;
  margin-right: 10px;
}
