body {
	background-image: url('../images/map_1920w.jpg');
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/map_1920w.jpg', sizingMethod='image/scale/crop');
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:top center;
	background-size:100% auto;
}

#img_assist_header,
#img_assist_thumbs {
	background-image:none !important;
}


#branding {
	height:220px;
}

#branding #logo {
	display:inline-block;
	float:left;
	height:220px;
	width:250px;

}
#branding #logo img {
	width:auto;
	height:250px;
	position:absolute;
	z-index:-900;
}

#branding #site-name {
	display:inline-block;
	margin:0px;
	padding:40px;
	font-size: 84pt;
	line-height:0.8;
	font-family: 'IM Fell English', serif;
	color:white;
	text-shadow: 0px 0px 10px black, 1px 1px black;
	filter: dropshadow(color=#FFF, offx=0, offy=0);
	background-image: url('../images/sitename-sash.png');
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/sitename-sash.png', sizingMethod='image/scale/crop');
	background-repeat:no-repeat;
}

#navigation .primary-links a,
#block-menu-secondary-links li a {
	font-family: 'IM Fell English', serif;
	text-transform:capitalize;
	font-size:24pt;
	color:white;
	text-shadow: 0px 1px 4px #333;	
}

#navigation .primary-links a {
	display:inline-block;
	padding:12px;
	position:relative;
}
#navigation .primary-links a:active {
	top:2px;
	text-shadow: 0px 0px 4px #333;	
	/*
	background: #7f151e;
	
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxNiUiIHN0b3AtY29sb3I9IiM3ZjE1MWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYzAyMDJmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top,  #7f151e 16%, #c0202f 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(16%,#7f151e), color-stop(100%,#c0202f)); 
	background: -webkit-linear-gradient(top,  #7f151e 16%,#c0202f 100%); 
	background: -o-linear-gradient(top,  #7f151e 16%,#c0202f 100%); 
	background: -ms-linear-gradient(top,  #7f151e 16%,#c0202f 100%);
	background: linear-gradient(top,  #7f151e 16%,#c0202f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7f151e', endColorstr='#c0202f',GradientType=0 );
	-webkit-box-shadow:  inset 0px 0px 20px 0px rgba(0, 0, 0, 0.5), 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.5), 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
	box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.5), 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
	*/
}

#block-menu-secondary-links li {
	
}

#block-menu-secondary-links {
	background-repeat:no-repeat;
	display:block;
}

#block-menu-secondary-links .donate {
	position:relative; 
	top:-60px;
	background-image:url('../images/ornate_banner_red.png');
	display:inline-block;
	height:202px;
	width:220px;
	z-index:100;
}
#block-menu-secondary-links .donate a { 
	margin:0px;
	height:74px;
	width:182px;
	padding-top:74px !important;
	padding-left:38px !important;
	padding-bottom:50px;
}
#block-menu-secondary-links .sponsor {
	position:relative;
	top:-148px;
	background-image:url('../images/ornate_banner_red2.png');
	display:inline-block;
	height:194px;
	width:220px;
	z-index:100;
}
#block-menu-secondary-links .sponsor a {
	margin:0px;
	height:111px;
	width:188px;
	padding-top:81px !important;
	padding-left:32px !important;	
}
#block-menu-secondary-links .map,
#block-menu-secondary-links .route,
#block-menu-secondary-links .activity-map,
#block-menu-secondary-links .route-map,
#block-menu-secondary-links .world-map,
#block-menu-secondary-links .post-map,
#block-menu-secondary-links .blog-map {
	position:relative;
	top:-108px;
	background-image:url('../images/map.png');
	display:inline-block;
	height:179px;
	width:220px;
}
#block-menu-secondary-links .map a,
#block-menu-secondary-links .route a,
#block-menu-secondary-links .activity-map a,
#block-menu-secondary-links .route-map a,
#block-menu-secondary-links .world-map a,
#block-menu-secondary-links .post-map a,
#block-menu-secondary-links .blog-map a {
	margin:0px;
	height:117px;
	width:144px;
	padding-top:62px !important;
	padding-left:76px !important;	
}

/* BUTTON CLASS */
#navigation .primary-links {
border: 2px solid #352a23;	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	-webkit-box-shadow:  inset 0px 0px 20px 0px rgba(0, 0, 0, 0.5), 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.5), 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
	box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.5), 0px 0px 20px 0px rgba(0, 0, 0, 0.5);



background: #c0202f; /* Old browsers */
background: -moz-linear-gradient(top,  #c0202f 0%, #7f151e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c0202f), color-stop(100%,#7f151e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #c0202f 0%,#7f151e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #c0202f 0%,#7f151e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #c0202f 0%,#7f151e 100%); /* IE10+ */
background: linear-gradient(top,  #c0202f 0%,#7f151e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0202f', endColorstr='#7f151e',GradientType=0 ); /* IE6-9 */

}

.front #content .node,
.not-front #content {
	border: 2px solid #352a23;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;

	background-color: white;

	-webkit-box-shadow: inset 0px 0px 60px 0px #eae7c5, 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: inset 0px 0px 60px 0px #eae7c5, 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
	box-shadow: inset 0px 0px 60px 0px #eae7c5, 0px 0px 20px 0px rgba(0, 0, 0, 0.5);

	overflow:hidden;
}

#content .node .node-title,
.node-type-story #page .page-title,
#page .page-title {
	line-height:1.0;
	padding:20px;
	margin:0;
	font-family: 'IM Fell English', serif;
	text-transform:capitalize;
	font-size:36pt;
	width:656px;
	display:inline-block;
	-webkit-box-shadow: inset 0px 0px 100px 0px #000;
	-moz-box-shadow: inset 0px 0px 100px 0px #000;
	box-shadow: inset 0px 0px 100px 0px #000;

	background: #e9e7c5; /* Old browsers */
	
	background-position:top center;
}

#content .node .node-title a,
.page-title {
	color:white;
	text-decoration:none !important;
}

.page-comment #inner-node-content .node-title {
	position:relative;
	left:-20px;
}

#inner-node-content,
.front #content #inner-node-content #inner-node-content {
	padding:0px 20px;
}
.front #content #inner-node-content,
.page-map #inner-node-content {
	padding:0px;
}

.node-links {
	clear:both;
}

.field-field-images {
	float: right;
	margin-left:20px;
	clear:right;
}
.page-photos #content {
	padding-bottom:26px;
}
#comments {
	border: 1px solid #352a23;
	margin: 20px;
	padding: 20px;
}
#comment .form-textarea {
	height:50px;
}

.view-photos a {
	float: left;
}
.view-photos a img {
	border: 1px solid #352a23;
	padding: 2px;
	margin: 26px 0px 0px 26px;
	background-color:#ecd7b3;
}

.field-field-blog-map {
	float: right;
	clear: right;
	border: 1px solid #352a23;
	padding: 2px;
	margin-bottom: 10px;
	background-color:#ecd7b3;
}

.node-teaser .field-field-images {
	width: 234px;
	max-width:234px;
	min-width:114px;
	max-height:232px;
	overflow:hidden;
}
.field-field-images img {
	padding: 2px;
	border:1px solid #352a23;
	background-color:#ecd7b3;
	margin-bottom:10px;
}
.node-teaser .field-field-images img {
	float: right;
	margin:0px 0px 10px 10px;
	padding: 2px;
	border:1px solid #352a23;
	background-color:#ecd7b3;
}

.node-submitted {
	float:right;
	padding:0 0px 20px 0;
	width: 234px;
	text-align:right;	
}

.node-body {
	margin:20px 20px 20px 10px;
}

/* Tabs */
ul.tabs li {

}
ul.tabs li a:link {
	background-image:url('../images/tab.png');
  background-size:100% 100%;
  background-position:center bottom;
  background-repeat: no-repeat;
  display:inline-block;
	background-color:transparent;
	padding:10px 40px 5px 40px;
	margin-top:5px;
}
ul.tabs li a.active {
	padding:10px 40px 10px 40px;
	margin-top:0px;
}
/* Tabs */

#tabs {
  margin: 0px 0px 0px 20px;
  line-height:0;
}

ul.tabs li {
  float: left;
}
#comment-form textarea {
	height:50px;
}
input[type=text],
input[type=password],
input[type=button],
input[type=submit],
textarea {
	border: 1px solid #352a23;
	padding:5px 10px;
	background-color:#f2f1e6;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
